<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Dashboard</li>
</ul>
<div class="row">
    <div class="col-md-4">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon ">
            <div class="widget-item-left">
                <span class="fa fa-files-o"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">12</div>
                <div class="widget-title">My Saved Documents</div>
                <div class="widget-subtitle"><a class="btn btn-rounded btn-success" href="#mydocs">View List</a></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-4">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-paperclip"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{{spcount}}</div>
                <div class="widget-title">Sales Proposal</div>
                <div class="widget-subtitle"><a class="btn btn-rounded btn-success" href="#spindex">View List</a></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-4">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-sitemap"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{{plncount}}</div>
                <div class="widget-title">Port Local Number</div>
                <div class="widget-subtitle"><a class="btn btn-rounded btn-success" href="#plnindex">View List</a></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{{ccancount}}</div>
                <div class="widget-title">Credit Card Authorization</div>
                <div class="widget-subtitle"><a class="btn btn-rounded btn-success" href="#ccaindex">View List</a></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-4">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{{eftancount}}</div>
                <div class="widget-title">EFT Authorization</div>
                <div class="widget-subtitle"><a class="btn btn-rounded btn-success" href="#eftaindex">View List</a></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-4">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-credit-card"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{{ptfnancount}}</div>
                <div class="widget-title">Port Toll Free Number</div>
                <div class="widget-subtitle"><a class="btn btn-rounded btn-success" href="#ptfnindex">View List</a></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
</div>