<ul class="breadcrumb">
    <li><a href="#/">DASHBOARD</a></li>
    <li class="active"><strong>DOMESTIC RATES</strong></li>
</ul>

<form class="form-horizontal">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="col-md-4 pull-left">
                <img id="comlogo" style="padding-top: 6px!important;" class="img-responsive " width="40%" src="" alt="log">
            </div>
            <div class="col-md-4">
                <h1 class="text-center">
                    <strong>DOMESTIC</strong> RATES
                </h1>
            </div>
            <div class="col-md-4">
                <ul class="panel-controls">
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row panel-heading">
            <div class="col-md-4 pull-left">

            </div>
            <div class="col-md-4">
                <h3 class="text-center">
                    <h5 class="text-center">
                        <span>
                          <h2 style="margin-bottom: 0px!important;"><strong>{{comname | uppercase}}</strong></h2>
                        </span>
                        <span>{{comlandmark}} {{comcity}} {{comstate}}, {{compostalcode}}</span><br>
                        <span>#{{comno}}</span>
                    </h5>
                </h3>
            </div>
            <div class="col-md-4">
            </div>
        </div>





</form>