<ul class="breadcrumb">
    <li>Forms</li>
    <li class="active">Domestic Rates</li>
</ul>
<form class="form-horizontal">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title pull-center"><strong>DOMESTIC</strong> RATES</h1>
            <ul class="panel-controls">
                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="panel-heading ">
            <img id="comlogo" class="img-responsive pull-left" width="10%" src="" alt="log">
            <center>
                <h3>
                    <div style=" padding-top: 2%!important;">

                        <span><strong><span id="comname"></span></strong><br>
                        <span id="landmark"></span><br>
                        <span id="comcity"></span><br>
                        <span id="comstate"></span>,
                        <span id="compostalcode"></span><br>#
                        <span id="comno"></span>
                    </div>
                </h3>
            </center>
        </div>
        <div class="col-md-12 ">




</form>