<ul class="breadcrumb">
    <li>DASHBOARD</li>
    <li class="active"><strong>INTERNATIONAL RATES</strong></li>
</ul>
<form class="form-horizontal">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="col-md-4 pull-left">
                <img id="comlogo" style="padding-top: 6px!important;" class="img-responsive " width="40%" src="" alt="log">
            </div>
            <div class="col-md-4">
                <h1 class="text-center">
                    <strong>INTERNATIONAL</strong> RATES
                </h1>
            </div>
            <div class="col-md-4">
                <ul class="panel-controls">
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row panel-heading">
            <div class="col-md-4 pull-left">

            </div>
            <div class="col-md-4">
                <h5 class="text-center">
                    <span>
                      <h2 style="margin-bottom: 0px!important;"><strong>{{comname | uppercase}}</strong></h2>
                    </span>
                    <span>{{comlandmark}} {{comcity}} {{comstate}}, {{compostalcode}}</span><br>
                    <span>#{{comno}}</span>
                </h5>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>



</form>