<ul class="breadcrumb">
    <li>FORMS</li>
    <li class="active">QUICK START GUIDE</li>
</ul>
<form class="form-horizontal">
    <div class="panel panel-success">
        <div class="panel-heading" style="padding-left: 37%!important;">

            <h1 class="panel-title" style="font-size: 35px;"><strong>QUICK START</strong> GUIDE
            </h1>
            <ul class="panel-controls">
                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>

        </div>
        <div class="panel-heading" style="text-align:center!important;">
            <img id="comlogo" style=" z-index: 1!important;" class="img-responsive pull-left" width="10%" src="" alt="log">
            <h3>
                <section style="padding-right: 11%!important;padding-top: 1%!important;">
                    <span><strong><span id="comname"></span></strong><br>
                    <span id="landmark"></span><br>
                    <span id="comcity"></span><br>
                    <span id="comstate"></span>,
                    <span id="compostalcode"></span><br>#
                    <span id="comno"></span>
                </section>
            </h3>
        </div>
        <center>
            <div class="panel-body">

                <div class="row text-center">

                    <div class="col-md-4">

                        <p><strong> To Record Greetings Remotely:</strong></p>

                        <p> • Dial 866-417-0771 Portal: <br> • Enter your phone number <br> • Choose extension, or press # if no <br> extension • Enter your pin<br> • Choose 4 for Greetings
                        </p>



                    </div>

                    <div class="col-md-4">


                        <p><strong> To Get Messages Remotely:
                        </strong></p>

                        <p>
                            • Dial 866-417-0771 <br> • Enter your phone number <br> • Choose extension, or press # if no extension <br> • Enter your pin <br> • Choose 1 for Voicemails

                        </p>


                    </div>

                    <div class="col-md-4">

                        <p><strong> To Record Greetings From Your
                            Phone/App:
                        </strong></p>

                        <p> • Hit the VM button or dial *99 <br> • Enter your pin <br> • Choose 4 for Greetings, follow the prompts • In External Number, add your phone number <br> • Under Options, choose “Call Announce” • Set days and times or you can leave
                            it 24/7 <br>

                    </div>

                </div>

                <div class="row text-center">

                    <div class="col-md-4">

                        <p><strong> To Get Messages From Your
                            Phone/App:</strong></p>

                        <p> Hit the VM button or dial *99 <br> • Enter your pin <br> • Choose 1 for Voicemails, follow the prompts

                        </p>



                    </div>

                    <div class="col-md-4">


                        <p><strong> To Get Messages Remotely:
                        </strong></p>

                        <p>
                            • Dial 866-417-0771 <br> • Enter your phone number <br> • Choose extension, or press # if no extension <br> • Enter your pin <br> • Choose 1 for Voicemails

                        </p>


                    </div>

                    <div class="col-md-4">



                        <p>

                            • The default timeout is 30 seconds which is about 4 rings, change it if needed • Click Insert <br> • Be sure you have a greeting recorded on your extension for your caller to hear if you don't answer your cell</p>
                    </div>

                </div>

                <div class="row text-center">

                    <div class="col-md-4">

                        <p><strong> To Load Greetings to the Portal:
                        </strong></p>

                        <p> • Go to your End User Portal • Type in your phone number <br> • Type in Extension if needed <br> • From Extension Manager choose the extension you need to load the greeting for <br> • Go to Control Panel>Extension> <br> Greeting
                            Manager. Choose List <br> Greetings or Add Mailbox Greeting
                        </p>



                    </div>

                    <div class="col-md-4">


                        <p><strong> To Set Up Notifications Through the
                            Portal:
                        </strong></p>

                        <p>
                            • Go to your End User Portal • Type in your phone number <br> • Type in Extension if needed <br> • From Extension Manager choose the <br> extension you need to load the greeting for. <br> • Go to Control Panel>Notifications
                            <br> • Set up VM Email Notifications <br> (choose add attachment), and/or text notifications to your cell


                        </p>


                    </div>

                    <div class="col-md-4">

                        <p><strong> To Get Messages Or Record
                            Greetings For Another Extension:</strong></p>


                        <p>

                            • Dial *94+ Extension • Enter the Pin for that Extension. <br> • Choose 1 for Voicemails or 4 for Greetings <br> • To access the main number on the account, dial *93 <br> • Enter the pin for the main mailbox <br> • Choose 1
                            for Voicemails or 4 for Greetings
                    </div>

                </div>


                <div class="row text-center">

                    <div class="col-md-4">

                        <p><strong> To Retrieve Messages From The Portal:
                        
                        </strong></p>

                        <p> • Go to your End User Portal <br> • Type in your phone number <br> • Type in Extension if needed <br> • From Extension Manager choose the extension/box you need to get messages from <br> • Or go to Mailbox>Inbox. To retrieve your
                            messages.
                        </p>



                    </div>

                    <div class="col-md-4">


                        <p><strong> To Retrieve SMS From the Portal:
                        </strong></p>

                        <p>
                            • Go to your End User Portal <br> • Type in your phone number <br> • Type in Extension if needed <br> • From Extension Manager choose the extension you need to get SMS for. <br> • In the upper left, click Text Messages, this
                            is where you will find your SMS.
                        </p>


                    </div>

                    <div class="col-md-4">

                        <p><strong> Hotdesking:</strong></p>
                        <p>

                            • To Login dial: *072[ext] (all one string) enter pin when prompted. Phone will reboot. <br> • To Logout dial: *73[ext] (all one String) phone will reboot. <br> • If you are logged in, you cannot log in again. You will not
                            need a password to log out.
                    </div>

                </div>


            </div>
        </center>
</form>