<ul class="breadcrumb">
    <li>Forms</li>
    <li class="active">Sales Proposal</li>
</ul>
<style>
    .hover:hover {
        background-color: #9773e2;
    }
    
    .m-signature-pad {
        position: relative;
        font-size: 10px;
        width: 400px;
        height: 128px;
        border: 1px solid #e8e8e8;
        background-color: #fff;
        border-top-width: 2px;
        border-top-color: #9773e2;
    }
    
    .m-signature-pad:before,
    .m-signature-pad:after {
        position: absolute;
        z-index: -1;
        content: "";
        width: 40%;
        height: 10px;
        left: 20px;
        bottom: 10px;
        background: transparent;
        -webkit-transform: skew(-3deg) rotate(-3deg);
        -moz-transform: skew(-3deg) rotate(-3deg);
        -ms-transform: skew(-3deg) rotate(-3deg);
        -o-transform: skew(-3deg) rotate(-3deg);
        transform: skew(-3deg) rotate(-3deg);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    }
    
    .m-signature-pad:after {
        left: auto;
        right: 20px;
        -webkit-transform: skew(3deg) rotate(3deg);
        -moz-transform: skew(3deg) rotate(3deg);
        -ms-transform: skew(3deg) rotate(3deg);
        -o-transform: skew(3deg) rotate(3deg);
        transform: skew(3deg) rotate(3deg);
    }
    
    .m-signature-pad--body {
        position: absolute;
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
        border: 1px solid #f4f4f4;
    }
    
    .m-signature-pad--body canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
    }
    
    @media screen and (max-width: 1024px) {
        .m-signature-pad {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            min-width: 250px;
            min-height: 250px;
            margin: 5%;
        }
        #github {
            display: none;
        }
    }
    
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .m-signature-pad {
            margin: 10%;
        }
    }
    
    @media screen and (max-height: 320px) {
        .m-signature-pad--body {
            left: 0;
            right: 0;
            top: 0;
            bottom: 32px;
        }
        .m-signature-pad--footer {
            left: 20px;
            right: 20px;
            bottom: 4px;
            height: 8px;
        }
        .m-signature-pad--footer .description {
            font-size: 1em;
            margin-top: 1em;
        }
    }
</style>
<div class="page-content-wrap">
    <div class="row">

        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-success">
                    <div class="panel-heading" style="padding-left: 39%!important;">

                        <h1 class="panel-title" style="font-size: 35px;"><strong>SALES</strong> PROPOSAL
                        </h1>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>

                    </div>

                    <div class="panel-heading" style="text-align:center!important;">
                        <img id="comlogo" style=" z-index: 1!important;" class="img-responsive pull-left" width="10%" src="" alt="log">
                        <h3>
                            <section style="padding-right: 11%!important;padding-top: 1%!important;">
                                <span><strong><span id="comname"></span></strong><br>
                                <span id="landmark"></span><br>
                                <span id="comcity"></span><br>
                                <span id="comstate"></span>,
                                <span id="compostalcode"></span><br>#
                                <span id="comno"></span>
                            </section>
                        </h3>
                    </div>
                    <div class="message-box message-box-success animated fadeIn" id="spsuccess">
                        <div class="mb-container">
                            <div class="mb-middle">
                                <div class="mb-title"><span class="fa fa-check"></span> Success:</div>
                                <div class="mb-content">
                                    <p>Your Data had been save!</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <hr class="panel panel-success">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class=" control-label">Business Name:</label>
                                        <input ng-model="bizname" type="text" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class=" control-label">Contact Name:</label>
                                        <input ng-model="contactname" type="text" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class=" control-label">Title:</label>
                                        <input ng-model="title" type="text" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class=" control-label">Phone:</label>
                                        <input ng-model="phone" type="text" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class=" control-label">Street/Block/Bldg/Lot:</label>
                                        <input ng-model="street" type="text" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class=" control-label">City:</label>
                                        <input ng-model="city" type="text" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class=" control-label">State:</label>
                                        <select ng-model="state" class="form-control " data-style="btn-success" required>
                                            <option value="">Select</option>
                                            <option value="Alabama">Alabama</option>
                                            <option value="Alaska">Alaska</option>
                                            <option value="Arizona">Arizona</option>
                                            <option value="Arkansas">Arkansas</option>
                                            <option value="California">California</option>
                                            <option value="Colorado">Colorado</option>
                                            <option value="Connecticut">Connecticut</option>
                                            <option value="Delaware">Delaware</option>
                                            <option value="District Of Columbia">District Of Columbia</option>
                                            <option value="Florida">Florida</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Hawaii">Hawaii</option>
                                            <option value="Idaho">Idaho</option>
                                            <option value="Illinois">Illinois</option>
                                            <option value="Indiana">Indiana</option>
                                            <option value="Iowa">Iowa</option>
                                            <option value="Kansas">Kansas</option>
                                            <option value="Kentucky">Kentucky</option>
                                            <option value="Louisiana">Louisiana</option>
                                            <option value="Maine">Maine</option>
                                            <option value="Maryland">Maryland</option>
                                            <option value="Massachusetts">Massachusetts</option>
                                            <option value="Michigan">Michigan</option>
                                            <option value="Minnesota">Minnesota</option>
                                            <option value="Mississippi">Mississippi</option>
                                            <option value="Missouri">Missouri</option>
                                            <option value="Montana">Montana</option>
                                            <option value="Nebraska">Nebraska</option>
                                            <option value="Nevada">Nevada</option>
                                            <option value="New Hampshire">New Hampshire</option>
                                            <option value="New Jersey">New Jersey</option>
                                            <option value="New Mexico">New Mexico</option>
                                            <option value="New York">New York</option>
                                            <option value="North Carolina">North Carolina</option>
                                            <option value="North Dakota">North Dakota</option>
                                            <option value="Ohio">Ohio</option>
                                            <option value="Oklahoma">Oklahoma</option>
                                            <option value="Oregon">Oregon</option>
                                            <option value="Pennsylvania">Pennsylvania</option>
                                            <option value="Rhode Island">Rhode Island</option>
                                            <option value="South Carolina">South Carolina</option>
                                            <option value="South Dakota">South Dakota</option>
                                            <option value="Tennessee">Tennessee</option>
                                            <option value="Texas">Texas</option>
                                            <option value="Utah">Utah</option>
                                            <option value="Vermont">Vermont</option>
                                            <option value="Virginia">Virginia</option>
                                            <option value="Washington">Washington</option>
                                            <option value="West Virginia">West Virginia</option>
                                            <option value="Wisconsin">Wisconsin</option>
                                            <option value="Wyoming">Wyoming</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class=" control-label">Zip Code:</label>
                                        <input ng-model="zipcode" type="text" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class=" control-label">Presented By:</label>
                                        <input ng-model="presentedby" type="text" class="form-control" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label class=" control-label">Date:</label>
                                        <input ng-model="date0" type="date" class="form-control" required/>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label class=" control-label">Billing Name:</label>
                                        <input ng-model="billing" type="text" class="form-control" required/>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label class=" control-label">Title:</label>
                                        <input ng-model="title2" type="text" class="form-control" required/>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label class=" control-label">Phone:</label>
                                        <input ng-model="phone2" type="text" class="form-control" required/>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label class=" control-label">Street/Block/Bldg/Lot:</label>
                                        <input ng-model="street2" type="text" class="form-control" required/>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label class=" control-label">City:</label>
                                        <input ng-model="city2" type="text" class="form-control" required/>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label class=" control-label">State:</label>
                                        <select ng-model="state2" class="form-control " data-style="btn-success">
                                            <option value="">Select</option>
                                            <option value="Alabama">Alabama</option>
                                            <option value="Alaska">Alaska</option>
                                            <option value="Arizona">Arizona</option>
                                            <option value="Arkansas">Arkansas</option>
                                            <option value="California">California</option>
                                            <option value="Colorado">Colorado</option>
                                            <option value="Connecticut">Connecticut</option>
                                            <option value="Delaware">Delaware</option>
                                            <option value="District Of Columbia">District Of Columbia</option>
                                            <option value="Florida">Florida</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Hawaii">Hawaii</option>
                                            <option value="Idaho">Idaho</option>
                                            <option value="Illinois">Illinois</option>
                                            <option value="Indiana">Indiana</option>
                                            <option value="Iowa">Iowa</option>
                                            <option value="Kansas">Kansas</option>
                                            <option value="Kentucky">Kentucky</option>
                                            <option value="Louisiana">Louisiana</option>
                                            <option value="Maine">Maine</option>
                                            <option value="Maryland">Maryland</option>
                                            <option value="Massachusetts">Massachusetts</option>
                                            <option value="Michigan">Michigan</option>
                                            <option value="Minnesota">Minnesota</option>
                                            <option value="Mississippi">Mississippi</option>
                                            <option value="Missouri">Missouri</option>
                                            <option value="Montana">Montana</option>
                                            <option value="Nebraska">Nebraska</option>
                                            <option value="Nevada">Nevada</option>
                                            <option value="New Hampshire">New Hampshire</option>
                                            <option value="New Jersey">New Jersey</option>
                                            <option value="New Mexico">New Mexico</option>
                                            <option value="New York">New York</option>
                                            <option value="North Carolina">North Carolina</option>
                                            <option value="North Dakota">North Dakota</option>
                                            <option value="Ohio">Ohio</option>
                                            <option value="Oklahoma">Oklahoma</option>
                                            <option value="Oregon">Oregon</option>
                                            <option value="Pennsylvania">Pennsylvania</option>
                                            <option value="Rhode Island">Rhode Island</option>
                                            <option value="South Carolina">South Carolina</option>
                                            <option value="South Dakota">South Dakota</option>
                                            <option value="Tennessee">Tennessee</option>
                                            <option value="Texas">Texas</option>
                                            <option value="Utah">Utah</option>
                                            <option value="Vermont">Vermont</option>
                                            <option value="Virginia">Virginia</option>
                                            <option value="Washington">Washington</option>
                                            <option value="West Virginia">West Virginia</option>
                                            <option value="Wisconsin">Wisconsin</option>
                                            <option value="Wyoming">Wyoming</option>
                                        </select>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label class=" control-label">Zip Code:</label>
                                        <input ng-model="zipcode2" type="text" class="form-control" required/>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-10">
                                        <label class=" control-label">Term Length:</label>
                                        <input ng-model="termlength" type="text" class="form-control" required/>
                                        <label class=" control-label">(Federal, state and Local Taxes and Fees Not
                                            Included)</label>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">


                                <div class="row">
                                    <div class="col-md-12">
                                        <hr class="panel panel-success">
                                        <div class="panel panel-success panel-heading">
                                            <h3 class="panel-title">Monthly Recurring Charges</h3>
                                        </div>
                                        <table class="table table-hover mcrrowTable" id="mcrrowTable">
                                            <thead>
                                                <tr>
                                                    <th>Unit</th>
                                                    <th>Services</th>
                                                    <th>Unit Price</th>
                                                    <th>Total Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="m in mrc">
                                                    <td><input type="number" class="mrcu form-control" ng-model="mrcu" placeholder="{{m.unit}}"></td>
                                                    <td>
                                                        <select id="type" class="form-control btn-block" required>
                                                            <option ng-repeat="mrcitem in mcritems">{{mrcitem.items}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td><input type="number" class="mrcup form-control" ng-model="mrcup" placeholder="{{m.unitprice}}"></td>
                                                    <td>
                                                        <input type="number" class="tprice form-control" ng-model="tprice" value="{{mrcup*mrcu}}" placeholder="$ 0.00">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <h4>Total Monthly Recurring Charges</h4>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <h4><strong class="mrcgtotal">$ 0.00</strong></h4>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                        <div class="panel panel-warning panel-heading">
                                            <div class="btn-group pull-right ">
                                                <button class="btn btn-primary btn-lg" ng-click="mrcadd(mrc);">+</button>
                                                <button class="btn btn-danger btn-lg" ng-click="mrcmin(mrc);">-</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <hr class="panel panel-success">
                                        <div class="panel-heading panel panel-warning">
                                            <h3 class="panel-title">Non-Recurring Charges (NRC)</h3>

                                        </div>

                                        <table class="table table-hover ncrrowTable" id="ncrrowTable">
                                            <thead>
                                                <tr>
                                                    <th>Unit</th>
                                                    <th>Services</th>
                                                    <th>Unit Price</th>
                                                    <th>Total Price </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="n in nrc">
                                                    <td><input type="number" class="nrcu form-control" ng-model="nrcu" placeholder="{{n.unit}}"></td>
                                                    <td>
                                                        <select id="type" class="form-control btn-block" required>
                                                            <option ng-repeat="nrcitem in ncritems">{{nrcitem.items}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td><input type="number" class="nrcup form-control" ng-model="nrcup" placeholder="{{n.unitprice}}"></td>
                                                    <td><input type="number" class="form-control tnup" ng-model="tnup" value="{{nrcup*nrcu}}" placeholder="$ 0.00"></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <h4>Total Non-Recurring ChargesDate</h4>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <h4><strong class="nrcgtotal">$ 0.00</strong></h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="panel-heading panel panel-warning">
                                            <div class="btn-group pull-right ">
                                                <button class="btn btn-primary btn-lg" ng-click="nrcadd(nrc)">+</button>
                                                <button class="btn btn-danger btn-lg" ng-click="nrcmin(nrc)">-</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <hr class="panel panel-success">
                                        <div class="panel-heading panel panel-warning">
                                            <h3 class="panel-title">Free Program Feature Highlights
                                            </h3>
                                        </div>

                                        <table class="table table-hover fpfrowTable" id="fpfrowTable">
                                            <thead>
                                                <tr>
                                                    <th>Unit</th>
                                                    <th>Services</th>
                                                    <th>Unit Price</th>
                                                    <th>Total Price</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="f in fpfh">
                                                    <td><input type="number" class="fpfhu form-control" ng-model="fpfhu" placeholder="0"></td>
                                                    <td>
                                                        <select id="type" class="form-control btn-block" required>
                                                            <option ng-repeat="fpfitem in fpfitems">
                                                                {{fpfitem.items}}</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="number" class="fpfhup form-control" ng-model="fpfhup" placeholder="$ 0.00">
                                                    </td>
                                                    <td><input type="number" class="tfpfh form-control" ng-model="tfpfh" value="{{fpfhup*fpfhu}}" placeholder="$ 0.00">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <h4>Total Program Features</h4>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <h4><strong class="fpfhgtotal">$ 0.00</strong></h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="panel-heading panel panel-warning">
                                            <div class="btn-group pull-right ">
                                                <button class="btn btn-primary btn-lg" ng-click="fpfhadd(fpfh)">+</button>
                                                <button class="btn btn-danger btn-lg" ng-click="fpfhmin(fpfh)">-</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class="control-label">Main Phone Number to be
                                        Used to Establish Account:</label>
                                        <input ng-model="mainphoneno" type="text" class="form-control" />
                                        <label class="control-label"><p style="font-size:9px">This proposal has been approved and
                                        is valid for 30 days from signature date.</p> </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2"></span>
                                    <div class="col-md-10">
                                        <label class="control-label">Date</label>
                                        <input ng-model="date1" type="date" class="form-control datepicker" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label class="control-label">Signature:</label>
                                        <div id="signature-pad" class="m-signature-pad panel-success" style="width: 360px!important;">
                                            <button id="clear" type="button" class="btn btn-danger btn-xs pull-right">x</button>
                                            <div class="m-signature-pad--body" id="sign">
                                                <canvas></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br><br>
                    <div class="row">
                        <div class="panel-footer">
                            <button class="btn btn-danger">Clear Form</button>
                            <div class="btn-group pull-right ">
                                <button class="btn btn-primary">PRINT</button>
                                <button class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter" ng-click="passwordcall(16);">EMAIL </button>
                                <button class="btn btn-primary " ng-click="savesp()">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: none!important;">X</button>
            </div>
            <div class="modal-body ">
                <form id="myform">
                    <label>Recipient Email:</label>
                    <input type="text" ng-model="mailadd" name="reply_to" id="reply_to" class="form-control" />
                    <label>Sender Name:</label>
                    <input type="text" ng-model="mailfrom" name="from_name" id="from_name" class="form-control" />
                    <label>Receiver Name:</label>
                    <input type="text" ng-model="mailto" name="to_name" class="form-control" />
                    <label>Hash Link:</label>
                    <input ng-model="hash" type="text" name="message" id="message" class="form-control" readonly />
                    <br><br>



                    <input type="submit" class="btn btn-primary btn-block " id="button" value="Send Email">
                </form>
            </div>

        </div>
    </div>
</div>