<style>
    .buttons {
        width: 20%;
        table-layout: fixed;
        border-collapse: collapse;
    }
    
    .buttons button {
        width: 36%;
    }
    
    .hover:hover {
        background-color: #9773e2;
    }
    
    .m-signature-pad {
        position: relative;
        font-size: 10px;
        width: 400px;
        height: 128px;
        border: 1px solid #e8e8e8;
        background-color: #fff;
        border-top-width: 2px;
        border-top-color: #9773e2;
    }
    
    .m-signature-pad:before,
    .m-signature-pad:after {
        position: absolute;
        z-index: -1;
        content: "";
        width: 40%;
        height: 10px;
        left: 20px;
        bottom: 10px;
        background: transparent;
        -webkit-transform: skew(-3deg) rotate(-3deg);
        -moz-transform: skew(-3deg) rotate(-3deg);
        -ms-transform: skew(-3deg) rotate(-3deg);
        -o-transform: skew(-3deg) rotate(-3deg);
        transform: skew(-3deg) rotate(-3deg);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    }
    
    .m-signature-pad:after {
        left: auto;
        right: 20px;
        -webkit-transform: skew(3deg) rotate(3deg);
        -moz-transform: skew(3deg) rotate(3deg);
        -ms-transform: skew(3deg) rotate(3deg);
        -o-transform: skew(3deg) rotate(3deg);
        transform: skew(3deg) rotate(3deg);
    }
    
    .m-signature-pad--body {
        position: absolute;
        left: 20px;
        right: 20px;
        top: 30px;
        bottom: 20px;
        border: 1px solid #f4f4f4;
    }
    
    .m-signature-pad--body canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
    }
    
    @media screen and (max-width: 1024px) {
        .m-signature-pad {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            min-width: 250px;
            min-height: 250px;
            margin: 5%;
        }
        #github {
            display: none;
        }
    }
    
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .m-signature-pad {
            margin: 10%;
        }
    }
    
    @media screen and (max-height: 320px) {
        .m-signature-pad--body {
            left: 0;
            right: 0;
            top: 0;
            bottom: 32px;
        }
        .m-signature-pad--footer {
            left: 20px;
            right: 20px;
            bottom: 4px;
            height: 8px;
        }
        .m-signature-pad--footer .description {
            font-size: 1em;
            margin-top: 1em;
        }
    }
</style>
<ul class="breadcrumb">
    <li>List</li>
    <li class="active">Sales Proposal</li>
</ul>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-success">
                    <div class="panel-heading" style="height:50px!important">
                        <div class="col-md-4 pull-left">
                        </div>
                        <div class="col-md-4" style="top:-15px!important">
                            <h1 class="text-center">
                                <strong>SALES</strong> PROPOSAL
                            </h1>
                        </div>
                        <div class="col-md-4">
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row panel-heading">
                        <div class="col-md-4 pull-left">
                            <img id="comlogo" style="padding-top: 6px!important;" class="img-responsive " width="40%" src="" alt="log">
                        </div>
                        <div class="col-md-4 ">
                            <h3 class="text-center">

                                <span>
                                    <h1>{{comname | uppercase}}</h1>
                                </span>
                                <span>{{comlandmark}}</span><br>
                                <span>{{comcity}}</span><br>
                                <span>{{comstate}},</span>
                                <span>{{compostalcode}}</span><br>
                                <span>#{{comno}}</span>
                            </h3>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="message-box message-box-success animated fadeIn" id="spsuccess">
                        <div class="mb-container">
                            <div class="mb-middle">
                                <div class="mb-title"><span class="fa fa-check"></span> Success:</div>
                                <div class="mb-content">
                                    <p>Your Data had been save!</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="message-box message-box-danger animated fadeIn" id="sperror">
                        <div class="mb-container">
                            <div class="mb-middle">
                                <div class="mb-title"><span class="fa fa-times-circle"></span> Error:</div>
                                <div class="mb-content">

                                    <p id="errormsg"></p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="message-box message-box-warning animated fadeIn" id="spdelete">
                        <div class="mb-container">
                            <div class="mb-middle">

                                <div class="mb-content pull-center">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4 input-group-lg">
                                        <div class="mb-title"><span class="fa fa-warning"></span> Warning:</div>
                                        <p>Please TYPE "remove" to delete data!</p>
                                        <input ng-model="deleteconfirm" type="text" class="form-control " required/><br>
                                        <button class="btn btn-block btn-danger btn-lg fa fa-trash-o" ng-click="confirmdel()"><strong> DELETE</strong></button>
                                    </div>
                                    <div class="col-md-4 pull-right">
                                        <button class="btn btn-default btn-lg btn-rounded fa fa-times" ng-click="closesp()"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <label class="input">
                                <input type="text" name="name" ng-model="findcf" >
                            </label>

                            <label class="input pull-right">
                                <label class="select ">
                                    <select class="" ng-model="pageSize" ng-options="num for num in [5,10, 100,1000]" ></select> <i></i> <br>
                                    
                                </label>
                            </label>


                            <table class="table table-bordered table-striped table-actions">
                                <thead>
                                    <tr>
                                        <th width="3" class="text-center">#</th>
                                        <th width="10">Business Name</th>
                                        <th width="10">Customer Name</th>
                                        <th width="10">Presented By</th>
                                        <th width="10">Term Length</th>
                                        <th width="5">City</th>
                                        <th width="5">State</th>
                                        <th width="3"><label class="input">Zip Code</label></th>

                                        <th style="width:160px!important">Data Controls <a href="#/salesproposal"><span class="btn btn-primary btn-sm fa fa-plus pull-right"> NEW</span></a></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="nsp in osps | startFrom:currentPage*pageSize | limitTo:pageSize |filter:findcf ">
                                    <tr>
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{nsp.bizname}}</td>
                                        <td>{{nsp.custname}}</td>
                                        <td>{{nsp.presentedby}}</td>
                                        <td>{{nsp.termlength}}</td>
                                        <td>{{nsp.city}}</td>
                                        <td>{{nsp.state}}</td>
                                        <td>{{nsp.zipcode}}</td>

                                        <td class="text-center buttons">
                                            <button ng-click="trigersignsp();editsp(nsp);" class="btn btn-default btn-sm fa fa-pencil " data-toggle="modal" data-target="#update_modal"> VIEW&nbsp;&nbsp;</button>
                                            <button ng-click="deletesp(nsp)" class="btn btn-danger btn-sm fa fa-trash-o "> DELETE</button>
                                            <button class="btn btn-info btn-sm fa fa-print " data-box="#message-box-success"> PRINT&nbsp;</button>
                                            <button class="btn btn-warning btn-sm fa fa-rocket" data-toggle="modal" data-target="#email_modal" ng-click="genhashkey(nsp);"> EMAIL&nbsp;</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="btn-group btn-group-xs pull-right ">
                            <button class="btn btn-primary " ng-disabled="currentPage==0 " ng-click="currentPage=currentPage-1 ">
       Back
      </button>
                            <button class="btn btn-primary ">{{currentPage+1}} of {{numberOfPages()}}</button>
                            <button class="btn btn-primary " ng-disabled="currentPage>= data.length/pageSize - 1" ng-click="currentPage=currentPage+1"> Next
                                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-labelledby="email_modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 400px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Sales Proposal Fillable Form</h2>
            </div>
            <div class="modal-body ">
                <form id="myform">
                    <label>Recipient Email:</label>
                    <input type="email" ng-model="mailadd" name="reply_to" id="reply_to" class="form-control" />
                    <label>Sender Name:</label>
                    <input type="text" ng-model="mailfrom" name="from_name" id="from_name" class="form-control" />
                    <label>Receiver Name:</label>
                    <input type="text" ng-model="mailto" name="to_name" class="form-control" />
                    <label>Hash Link:</label>
                    <input ng-model="hash" type="text" name="message" id="message" class="form-control" readonly />
                    <br><br>
                    <input type="submit" class="btn btn-primary btn-block" id="button" value="SEND">
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SALES PROPOSAL INFO.</h5>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="col-md-1"></span>
                                <div class="col-md-10">
                                    <label class=" control-label" style="padding-left:25px!important"><h4 ><strong>Customer:</strong></h4></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-2"></span>
                                <div class="col-md-10">
                                    <label class=" control-label">Business Name:</label>
                                    <input ng-model="nsp.bizname" type="text" class="form-control" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-2"></span>
                                <div class="col-md-10">
                                    <label class=" control-label">Customer Name:</label>
                                    <input ng-model="nsp.custname" type="text" class="form-control" required />
                                </div>
                            </div>

                            <div class="form-group ">
                                <span class="col-md-2"></span>
                                <div class="col-md-5">
                                    <label class=" control-label">Street/Block/Bldg/Lot:</label>
                                    <input ng-model="nsp.street" type="text" class="form-control" required />
                                </div>
                                <div class="col-md-5">
                                    <label class=" control-label">City:</label>
                                    <input ng-model="nsp.city" type="text" class="form-control" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1"></span>
                                <div class="col-md-10">
                                    <label class=" control-label" style="padding-left:25px!important;padding-top:25px!important"><h4 ><strong>Company:</strong></h4></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-2"></span>
                                <div class="col-md-10">
                                    <label class="check "><input type="checkbox"  class="icheckbox"/> Same as customer:</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-2"></span>
                                <div class="col-md-10">
                                    <label class=" control-label">Business Name:</label>
                                    <input ng-model="nsp.bizname2" type="text" class="form-control bizname2" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-2"></span>
                                <div class="col-md-10">
                                    <label class=" control-label">Customer Name:</label>
                                    <input ng-model="nsp.custname2" type="text" class="form-control custname2" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-2"></span>
                                <div class="col-md-5">
                                    <label class=" control-label">Street/Block/Bldg/Lot:</label>
                                    <input ng-model="nsp.street2" type="text" class="form-control street2" required />
                                </div>
                                <div class="col-md-5">
                                    <label class=" control-label">City:</label>
                                    <input ng-model="nsp.city2" type="text" class="form-control city2" required />
                                </div>
                            </div>

                            <div class="form-group ">
                                <span class="col-md-2"></span>
                                <div class="col-md-10">
                                    <label class=" control-label">Presented By:</label>
                                    <input ng-model="nsp.presentedby" type="text" class="form-control" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="col-md-2"></span>
                                <div class="col-md-10">
                                    <label class="control-label"><h4>&nbsp;</h4></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label">&nbsp;</label>
                                    <h3>&nbsp;</h3>
                                </div>
                                <span class="col-md-2"></span>
                            </div>

                            <div class="form-group ">
                                <div class="col-md-10">
                                    <label class=" control-label">Phone No.:</label>
                                    <input ng-model="nsp.phone" type="text" class="form-control" required />
                                </div>
                                <span class="col-md-2"></span>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    <label class=" control-label">State:</label>
                                    <select ng-model="nsp.state" class="form-control " data-style="btn-success" required>
                                        <option value="">Select</option>
                                        <option value="Alabama">Alabama</option>
                                        <option value="Alaska">Alaska</option>
                                        <option value="Arizona">Arizona</option>
                                        <option value="Arkansas">Arkansas</option>
                                        <option value="California">California</option>
                                        <option value="Colorado">Colorado</option>
                                        <option value="Connecticut">Connecticut</option>
                                        <option value="Delaware">Delaware</option>
                                        <option value="District Of Columbia">District Of Columbia</option>
                                        <option value="Florida">Florida</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Idaho">Idaho</option>
                                        <option value="Illinois">Illinois</option>
                                        <option value="Indiana">Indiana</option>
                                        <option value="Iowa">Iowa</option>
                                        <option value="Kansas">Kansas</option>
                                        <option value="Kentucky">Kentucky</option>
                                        <option value="Louisiana">Louisiana</option>
                                        <option value="Maine">Maine</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Massachusetts">Massachusetts</option>
                                        <option value="Michigan">Michigan</option>
                                        <option value="Minnesota">Minnesota</option>
                                        <option value="Mississippi">Mississippi</option>
                                        <option value="Missouri">Missouri</option>
                                        <option value="Montana">Montana</option>
                                        <option value="Nebraska">Nebraska</option>
                                        <option value="Nevada">Nevada</option>
                                        <option value="New Hampshire">New Hampshire</option>
                                        <option value="New Jersey">New Jersey</option>
                                        <option value="New Mexico">New Mexico</option>
                                        <option value="New York">New York</option>
                                        <option value="North Carolina">North Carolina</option>
                                        <option value="North Dakota">North Dakota</option>
                                        <option value="Ohio">Ohio</option>
                                        <option value="Oklahoma">Oklahoma</option>
                                        <option value="Oregon">Oregon</option>
                                        <option value="Pennsylvania">Pennsylvania</option>
                                        <option value="Rhode Island">Rhode Island</option>
                                        <option value="South Carolina">South Carolina</option>
                                        <option value="South Dakota">South Dakota</option>
                                        <option value="Tennessee">Tennessee</option>
                                        <option value="Texas">Texas</option>
                                        <option value="Utah">Utah</option>
                                        <option value="Vermont">Vermont</option>
                                        <option value="Virginia">Virginia</option>
                                        <option value="Washington">Washington</option>
                                        <option value="West Virginia">West Virginia</option>
                                        <option value="Wisconsin">Wisconsin</option>
                                        <option value="Wyoming">Wyoming</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <label class=" control-label">Zip Code:</label>
                                    <input ng-model="nsp.zipcode" type="text" class="form-control" required />
                                </div>
                                <span class="col-md-2"></span>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class=" control-label"></label>
                                    <label class="check ">&nbsp;&nbsp;&nbsp;</label>
                                </div>
                                <span class="col-md-2"></span>
                            </div>

                            <div class="form-group">
                                <span class="col-md-2"></span>
                                <div class="col-md-10">
                                    <label class=" control-label"><h4>&nbsp;</h4></label>
                                </div>
                            </div>

                            <div class="form-group ">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label class="control-label">&nbsp;</label>
                                        <h3>&nbsp;</h3>
                                    </div>
                                    <span class="col-md-2"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class=" control-label">Phone No.:</label>
                                    <input ng-model="nsp.phone2" type="text" class="phone2 form-control" required />
                                </div>
                                <span class="col-md-2"></span>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    <label class=" control-label">State:</label>
                                    <select ng-model="nsp.state2" class="form-control state2" data-style="btn-success">
                                        <option value="">Select</option>
                                        <option value="Alabama">Alabama</option>
                                        <option value="Alaska">Alaska</option>
                                        <option value="Arizona">Arizona</option>
                                        <option value="Arkansas">Arkansas</option>
                                        <option value="California">California</option>
                                        <option value="Colorado">Colorado</option>
                                        <option value="Connecticut">Connecticut</option>
                                        <option value="Delaware">Delaware</option>
                                        <option value="District Of Columbia">District Of Columbia</option>
                                        <option value="Florida">Florida</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Idaho">Idaho</option>
                                        <option value="Illinois">Illinois</option>
                                        <option value="Indiana">Indiana</option>
                                        <option value="Iowa">Iowa</option>
                                        <option value="Kansas">Kansas</option>
                                        <option value="Kentucky">Kentucky</option>
                                        <option value="Louisiana">Louisiana</option>
                                        <option value="Maine">Maine</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Massachusetts">Massachusetts</option>
                                        <option value="Michigan">Michigan</option>
                                        <option value="Minnesota">Minnesota</option>
                                        <option value="Mississippi">Mississippi</option>
                                        <option value="Missouri">Missouri</option>
                                        <option value="Montana">Montana</option>
                                        <option value="Nebraska">Nebraska</option>
                                        <option value="Nevada">Nevada</option>
                                        <option value="New Hampshire">New Hampshire</option>
                                        <option value="New Jersey">New Jersey</option>
                                        <option value="New Mexico">New Mexico</option>
                                        <option value="New York">New York</option>
                                        <option value="North Carolina">North Carolina</option>
                                        <option value="North Dakota">North Dakota</option>
                                        <option value="Ohio">Ohio</option>
                                        <option value="Oklahoma">Oklahoma</option>
                                        <option value="Oregon">Oregon</option>
                                        <option value="Pennsylvania">Pennsylvania</option>
                                        <option value="Rhode Island">Rhode Island</option>
                                        <option value="South Carolina">South Carolina</option>
                                        <option value="South Dakota">South Dakota</option>
                                        <option value="Tennessee">Tennessee</option>
                                        <option value="Texas">Texas</option>
                                        <option value="Utah">Utah</option>
                                        <option value="Vermont">Vermont</option>
                                        <option value="Virginia">Virginia</option>
                                        <option value="Washington">Washington</option>
                                        <option value="West Virginia">West Virginia</option>
                                        <option value="Wisconsin">Wisconsin</option>
                                        <option value="Wyoming">Wyoming</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <label class=" control-label">Zip Code:</label>
                                    <input ng-model="nsp.zipcode2" type="text" class="form-control zipcode2" required />
                                </div>
                                <span class="col-md-2"></span>
                            </div>

                            <div class="form-group ">
                                <div class="col-md-10">
                                    <label class=" control-label">Term Length:</label>
                                    <input ng-model="nsp.termlength" type="text" class="form-control" required />
                                    <label class=" control-label">(Federal, state and Local Taxes and Fees Not
                                        Included)</label>
                                </div>
                                <span class="col-md-2"></span>
                            </div>
                        </div>

                    </div>
                    <br><br>
                    <div class="row">
                        <!-- MRC -->
                        <div class="col-md-12">

                            <span class="col-md-1"></span>
                            <div class="col-md-10">
                                <div class="panel panel-warning panel-heading">
                                    <h3 class="panel-title">Monthly Recurring Charges (MRC)</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover mcrrowTable" id="mcrrowTable">
                                        <thead>
                                            <tr>
                                                <th>Unit</th>
                                                <th>Services</th>
                                                <th>Unit Price</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr id="tr0" ng-repeat="mnsp in nsp.mrc">
                                                <td>
                                                    <input type="text" class="mrcu form-control text-center" ng-model="mnsp['Unit']" placeholder="0">
                                                </td>

                                                <td>
                                                    <select id="type0" class="form-control btn-block" data-ng-options="i for i in mcritems" data-ng-model="mnsp['Services']"></select>
                                                </td>

                                                <td><input type="text" class="mrcup form-control text-center" ng-model="mnsp['Unit Price']" placeholder="$ 0.00" readonly></td>
                                                <td>
                                                    <input type="text" class="mtprice form-control text-center" ng-value="mnsp['Unit Price']*mnsp['Unit'] | number:2" placeholder="$ 0.00" readonly>
                                                </td>
                                            </tr>
                                            <tr id="tr1" ng-repeat="m in mrc">
                                                <td><input type="number" class="mrcu form-control text-center" ng-model="mrcu" placeholder="{{m.unit}}"></td>

                                                <td>
                                                    <select id="type0" class="form-control btn-block" data-ng-options="jj for jj in mcritems" data-ng-model="nmnsp['Services']"></select>
                                                </td>

                                                <td><input type="number" class="mrcup form-control text-center" ng-model="mrcup" placeholder="{{m.unitprice}}" readonly></td>

                                                <td>
                                                    <input type="number" class="mtprice form-control text-center" ng-model="mtprice" ng-value="{{mrcup*mrcu}}" placeholder="$ 0.00" readonly>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <h4>Total Monthly Recurring Charges</h4>
                                                </td>
                                                <td></td>
                                                <td class="text-center">
                                                    <h4><strong class="mrcgtotal">$ {{mrct|number:2}}</strong></h4>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="panel panel-warning panel-heading">
                                    <div class="btn-group pull-right ">
                                        <button class="btn btn-primary btn-lg" ng-click="mrcadd(mrc);">+</button>
                                        <button class="btn btn-danger btn-lg" ng-click="mrcmin(mrc);">-</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- NRC -->
                        <div class="col-md-12">
                            <span class="col-md-1"></span>
                            <div class="col-md-10">
                                <div class="panel panel-warning panel-heading">
                                    <h3 class="panel-title">Non-Recurring Charges (NRC)</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover ncrrowTable" id="ncrrowTable">
                                        <thead>
                                            <tr>
                                                <th>Unit</th>
                                                <th>Services</th>
                                                <th>Unit Price</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr id="tr0" ng-repeat="nmnsp in nsp.nrc">
                                                <td>
                                                    <input type="text" class="nrcu form-control text-center" ng-model="nmnsp['Unit']" placeholder="0">
                                                </td>


                                                <td>
                                                    <select id="type0" class="form-control btn-block" data-ng-options="k for k in ncritems" data-ng-model="nmnsp['Services']"></select>
                                                </td>


                                                <td><input type="text" class="nrcup form-control text-center" ng-model="nmnsp['Unit Price']" placeholder="$ 0.00" readonly></td>
                                                <td>
                                                    <input type="text" class="ntprice form-control text-center" ng-value="nmnsp['Unit Price']*nmnsp['Unit'] | number:2" placeholder="$ 0.00" readonly>
                                                </td>

                                            </tr>
                                            <tr id="tr1" ng-repeat="n in nrc">

                                                <td><input type="number" class="nrcu form-control text-center" ng-model="nrcu" placeholder="{{n.unit}}"></td>

                                                <td>
                                                    <select id="type0" class="form-control btn-block" data-ng-options="kk for kk in ncritems" data-ng-model="nmnsp['Services']"></select>
                                                </td>
                                                <td><input type="number" class="nrcup form-control text-center" ng-model="nrcup" placeholder="{{n.unitprice}}" readonly></td>
                                                <td>
                                                    <input type="number" class="ntprice form-control text-center" ng-model="ntprice" ng-value="{{nrcup*nrcu}}" placeholder="$ 0.00" readonly>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <h4>Total Non-Recurring Charges</h4>
                                                </td>
                                                <td></td>
                                                <td class="text-center">
                                                    <h4><strong class="nrcgtotal">$ {{nrct|number:2}}</strong></h4>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="panel panel-warning panel-heading">
                                    <div class="btn-group pull-right ">

                                        <button class="btn btn-primary btn-lg" ng-click="nrcadd(nrc);">+</button>
                                        <button class="btn btn-danger btn-lg" ng-click="nrcmin(nrc);">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- FPFH -->
                        <div class="col-md-12">
                            <span class="col-md-1"></span>
                            <div class="col-md-10">
                                <div class="panel panel-warning panel-heading">
                                    <h3 class="panel-title">Free Program Feature Highlights</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover fpfrowTable" id="fpfrowTable">
                                        <thead>
                                            <tr>
                                                <th>Unit</th>
                                                <th>Services</th>
                                                <th>Unit Price</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="tr0" ng-repeat="fnsp in nsp.fpfrow">
                                                <td>
                                                    <input type="text" class="fpfhu form-control text-center" ng-model="fnsp['Unit']" placeholder="0">
                                                </td>
                                                <td>
                                                    <select id="type0" class="form-control btn-block" data-ng-options="k for k in fcritems" data-ng-model="fnsp['Services']"></select>
                                                </td>
                                                <td><input type="text" class="frcup form-control text-center" ng-model="fnsp['Unit Price']" placeholder="$ 0.00" readonly></td>
                                                <td>
                                                    <input type="text" class="tfpfh form-control text-center" ng-value="fnsp['Unit Price']*fnsp['Unit'] | number:2" placeholder="$ 0.00" readonly>
                                                </td>
                                            </tr>
                                            <tr id="tr1" ng-repeat="m in frc">
                                                <td><input type="number" class="fpfhu form-control text-center" ng-model="fpfhu" placeholder="{{m.unit}}"></td>
                                                <td>
                                                    <select id="type0" class="form-control btn-block" data-ng-options="l for l in fcritems" data-ng-model="fnsp['Services']"></select>
                                                    </select>
                                                </td>
                                                <td><input type="number" class="fpfhup form-control text-center" ng-model="fpfhup" placeholder="{{m.unitprice}}" readonly></td>
                                                <td>
                                                    <input type="number" class="tfpfh form-control text-center" ng-model="tfpfh" ng-value="{{frcup*frcu}}" placeholder="$ 0.00" readonly>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td>
                                                    <h4>Total Program Features</h4>
                                                </td>
                                                <td></td>
                                                <td class="text-center">
                                                    <h4><strong class="fpfhgtotal">$ {{frct|number:2}}</strong></h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="panel panel-warning panel-heading">
                                    <div class="btn-group pull-right ">

                                        <button class="btn btn-primary btn-lg" ng-click="frcadd(frc);">+</button>
                                        <button class="btn btn-danger btn-lg" ng-click="frcmin(frc);">-</button>
                                    </div>
                                </div>
                            </div>
                            <div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="col-md-2"></span>
                                        <div class="col-md-10">
                                            <label class="control-label">Main Phone Number to be
                                    Used to Establish Account:</label>
                                            <input ng-model="nsp.mainphoneno" type="text" class="form-control" />
                                            <label class="control-label"><p style="font-size:9px">This proposal has been approved and
                                    is valid for 30 days from signature date.</p> </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span class="col-md-2"></span>
                                        <div class="col-md-10">
                                            <label class="control-label">Date</label>
                                            <input ng-model="nsp.date2" type="date" class="form-control datepicker" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <label class="control-label">Signature:</label>

                                            <div id="signature-pad" class="m-signature-pad panel-success" style="width: 360px!important;">
                                                <button id="savesign" type="button" class="btn  btn-info btn-xs  pull-right">Save Sign</button>
                                                <button id="clear" type="button" class="btn btn-danger btn-xs pull-right">Delete Sign</button><br><br><br>
                                                <div class="m-signature-pad--body" id="sign">
                                                    <canvas></canvas>
                                                </div>

                                            </div>

                                        </div>

                                        <span class="col-md-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">CLOSE</button>
                <button id="update" type="button" class="btn btn-primary" ng-click="updatesp();">UPDATE</button>
            </div>
        </div>
    </div>
</div>