<ul class="breadcrumb">
    <li>FORMS</li>
    <li class="active">STAR CODE REFERENCE</li>
</ul>
<form class="form-horizontal">
    <div class="panel panel-success">
        <div class="panel-heading" style="height:50px!important">
            <div class="col-md-2 pull-left">
            </div>
            <div class="col-md-8" style="top:-15px!important">
                <h1 class="text-center">
                    <strong>STAR CODE</strong> REFERENCE
                </h1>
            </div>
            <div class="col-md-2">
                <ul class="panel-controls">
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row panel-heading">
            <div class="col-md-4 pull-left">
                <img id="comlogo" style="padding-top: 6px!important;" class="img-responsive " width="40%" src="" alt="log">
            </div>
            <div class="col-md-4">
                <h3 class="text-center">
                    <span>
                        <h1>{{comname | uppercase}}</h1>
                    </span>
                    <span>{{comlandmark}}</span><br>
                    <span>{{comcity}}</span><br>
                    <span>{{comstate}},</span>
                    <span>{{compostalcode}}</span><br>
                    <span>#{{comno}}</span>
                </h3>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="col-md-12 ">

            <div class="panel panel-success ">
                <div class="panel-body panel-body-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>*51</td>
                                <td>Night Mode.</td>

                            </tr>
                            <tr>
                                <td>*51+extension </td>
                                <td>Toggle Night mode for the specified extension or use a did for a did box.
                                </td>

                            </tr>
                            <tr>
                                <td>*55</td>
                                <td>Login/Logout call center agent
                                </td>

                            </tr>
                            <tr>
                                <td>*67+phone number </td>
                                <td>Outbound call with caller id blocking</td>

                            </tr>
                            <tr>
                                <td>*72+phone number</td>
                                <td>Activate call forwarding (for that extension only)
                                </td>

                            </tr>
                            <tr>
                                <td>*73</td>
                                <td>Deactivate call forwarding (for that extension only)</td>

                            </tr>
                            <tr>
                                <td>*87+extension</td>
                                <td>Spy (outbound calls only) 0=listen only, 1=speak with other half, 2=speak with user, 3=three-way call</td>

                            </tr>
                            <tr>
                                <td>*93</td>
                                <td>Call into subscriber mode for the main box</td>

                            </tr>
                            <tr>
                                <td>*94+extension</td>
                                <td>Call into the extension’s subscriber mode</td>

                            </tr>
                            <tr>
                                <td>*96+extension</td>
                                <td>Intercom an extension</td>

                            </tr>
                            <tr>
                                <td>*97+extension</td>
                                <td>Eavesdrop 0=listen only, 1=speak with other half, 2=speak with user, 3=three-way call
                                </td>

                            </tr>
                            <tr>
                                <td>*98+extension</td>
                                <td>Dial into extension’s voicemail box to leave a message
                                </td>

                            </tr>
                            <tr>
                                <td>*99</td>
                                <td>Dial into subscriber mode.
                                </td>

                            </tr>

                        </tbody>
                    </table>


                </div>

            </div>
            <div>
                <h4>Conference Bridge Controls</h4>
                <p>0 Mute/Unmute Toggle
                </p>
                <p>1 Volume Talk Down</p>
                <p>2 Volume Talk Zero
                </p>
                <p>3 Volume Talk Up</p>
                <p>4 Volume Listen Down</p>
                <p>5 Volume Listen Zero
                </p>
                <p>6 Volume Listen Up</p>
                <p>7 Energy Down</p>
                <p>8 Energy Equal
                </p>

                <p>*2 Start Call Recording
                </p>
                <p>Stop Call Recording
                </p>
            </div>


</form>